
html {
  scroll-behavior: smooth;
}
body {
  text-align: center;
  overflow-x: hidden;
}

/**Navigation Bar:**/
#hello-world-hack-logo {
  float: left;
}
#header-text {
  font-family: 'Oswald', sans-serif;
  font-size: 40px;
  padding-left: 16px;
  padding-right: 16px;
}
#navigationList {
  font-size: 20px;
  font-family: 'Oswald', sans-serif;
}
/**HelloWorldHack animated header - feature influenced by CSS Tricks **/
.typewriter header {
  overflow: hidden; /* Text hidden until animation starts */
  border-right: .05em solid black; /* Cursor */
  white-space: nowrap; /* Retains text content all on 1 line */
  margin: 0 auto; /* Creates scroll effect */
  animation:
    typing 5s steps(40,end), /* Determines length of animation and frames needed to complete animation */
    blinkTextCursor 0.75s step-end infinite; /* The cursor keeps blinking even after animation */
}
/* Type effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}
/* The typewriter cursor effect */
@keyframes blinkTextCursor {
  from, to { border-color: transparent }
  50% { border-color: black; }
}

/**About HelloWorldHack:**/
.about-hello-world-hack {
  display: flex;
  justify-content: center;
  background-color: #202379;
  padding: 16px 0;
}
.about-hello-world-hack h2 {
  color: white;
  font-weight: bold;
  text-align: center;
  font-size: 64px;
  line-height: 1.6;
  font-family: 'Oswald', sans-serif;
}
.about-hello-world-hack h3 {
  color: white;
  padding: 0px 64px;
  text-align: center;
  font-size: 24px;
  line-height: 1.6;
  font-family: 'Raleway', sans-serif;
}
.about-hello-world-hack h4 {
  color: white;
  padding: 0px 64px;
  text-align: center;
  font-size: 48px;
  line-height: 1.6;
  font-family: 'Oswald', sans-serif;
}
.about-hello-world-hack, .organizers-hello-world-hack, .faq-hello-world-hack {
  padding: 16px 0;
}
a.button1 {
  display: block;
  border: 0.16em solid #FFFFFF;
  border-radius: 0.12em;
  box-sizing: border-box;
  font-family: 'Raleway',sans-serif;
  color: #FFFFFF;
  text-align: center;
  padding: 0.4em 1.2em;
  margin: 0 auto;

  font-size: 24px;
  line-height: 1.6;
}
a.button1:hover {
  color:#000000;
  background-color:#FFFFFF;
}

/** Organizers of Hello World Hack **/
.organizers-hello-world-hack figcaption {
  line-height: 1.6;
  font-size: 16px;
  font-family: 'Raleway', sans-serif;
}

#organizers-hello-world-hack-text, #faq-hello-world-hack-text, #sponsors-header-text, #contact-details {
  font-weight: bold;
  text-align: center;
  font-size: 64px;
  line-height: 1.6;
  font-family: 'Oswald', sans-serif;
}
#faq-hello-world-hack-text {
  color: white;
}

/**HelloWorldHack FAQ:**/
.faq-hello-world-hack {
  background-color: orange;
}
.faq-hello-world-hack .col-sm-4 {
  padding-bottom: 16px;
}
.faq-hello-world-hack .col-sm-4 h3 {
  color: white;
  font-size: 32px;
  text-align: center;
  font-family: 'Oswald', sans-serif;
  line-height: 1.6;
}
.faq-hello-world-hack .col-sm-4 h4 {
  color: white;
  font-size: 16px;
  text-align: center;
  font-family: 'Raleway', Tahoma, sans-serif;
  line-height: 1.6;
}

/**HelloWorldHack Sponsors:**/
.sponsors-hello-world-hack {
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 1.6;
}
.sponsors-hello-world-hack .row {
  display: flex;
  justify-content: center;
}
.sponsors-hello-world-hack h3 {
  font-size: 16px;
  text-align: center;
  font-family: 'Raleway', Tahoma, sans-serif;
  line-height: 1.6;
}
.sponsors-layout {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  margin: 0 2px 0 2px;
}
.sponsors-logos {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.sponsors-logos-gold img {
  width: 80vw;
  height: auto;
  justify-content: center;
  padding: 32px 0; }
}
@media (max-width: 768px) {
  .sponsors-logos-gold img {
    width: 95vw;
    height: auto;
    padding: 32px 0;
  }
}
.sponsors-logos-silver img {
  width: 60vw;
  height: auto;
  justify-content: center;
  padding: 32px 0;
}
@media (max-width: 768px) {
  .sponsors-logos-silver img {
    width: 70vw;
    height: auto;
    padding: 32px 0;
  }
}
.sponsors-logos-bronze img {
  width: 40vw;
  height: auto;
  justify-content: center;
  padding: 16px 32px 16px;
}
@media (max-width: 768px) {
  .sponsors-logos-gold img {
    width: 50vw;
    height: auto;
    padding: 32px 0;
  }
}

/** Contact Details Container **/
.contact-details-container {
  display: flex;
  justify-content: center;
	line-height: 1.6;
	padding: 16px 0;
	font-family: 'Raleway', Tahoma, sans-serif;
}

.contact-details-hello-world-hack h3 {
  font-size: 16px;
  text-align: center;
  font-family: 'Raleway', Tahoma, sans-serif;
  line-height: 1.6;
}
.contact-details-hello-world-hack h4 {
  font-size: 12px;
  text-align: right;
  font-family: 'Raleway', Tahoma, sans-serif;
  line-height: 1.6;
}
.contact-details-hello-world-hack img {
  justify-content: center;
  margin: 0 auto;
	padding: 0 2px 0;
}
.contact-details-hello-world-hack .social-media-links {
  justify-content: center;
  text-align: center;
  margin: 0 auto;
}

/**
  * Extra CSS Code for the CarouselImageSlideShow
 **/
